<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yxjr.credit">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>

        <activity
            android:name=".utils.permission.Permission$PermissionActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity android:name="com.yxjr.credit.fragment.CameraActivity" />

    </application>
</manifest>
